<section class="container-list-publication">
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://images3.alphacoders.com/555/555568.jpg" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://images3.alphacoders.com/555/555568.jpg" alt="">
    </div>
    <div class="container-list-publication__item">
        <span></span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRN7ykVegcKpJwdbJVZaecMA7CRYdhj5nmhkw&usqp=CAU" alt="">
    </div>

</section>