<mat-drawer-container class="container-admin">
    <mat-drawer opened="false" mode="push" #snav class="mat-drawer-container">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-toolbar [snav]="snav" class="container-admin__toolbar"></app-toolbar>
        <!-- <div class="container-admin__search">
            <app-search></app-search>
        </div> -->
        <div class="container-admin__outlet">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>