.container-admin {
    width: 100%;
    min-height: 100vh;
    position: relative;
    & .mat-drawer-container {
        max-height: 100vh;
        position: fixed;
    }
    &__toolbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 2;
    }
    /* &__search {
        position: absolute;
    } */
    &__outlet {
        box-sizing: border-box;
        max-width: 960px;
        min-height: calc(100vh - 64px);
        width: 100%;
        margin: 64px auto auto auto;
        padding: 2rem 1rem;
    }
}