<section class="container-me">
    <div class="container-me__photo">
        <img mat-card-avatar [src]="userProfile.avatar" alt="image profile">
    </div>
    <div class="container-me__header">
        <h2 class="container-me__header__username mr_10">{{userProfile.username}}</h2>
        <button mat-stroked-button class="container-me__header__edit mr_10">Editar Perfil</button>
        <button mat-button class="container-me__header__settings" (click)="openDialog()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div class="container-me__data">
        <span> <strong>5</strong> publicaciones</span>
        <span><strong>8</strong> seguidores</span>
        <span><strong>25</strong> seguidos</span>
    </div>
    <div class="container-me__details">
        <h1>{{userProfile.name}}</h1>
        <span>{{userProfile.description}}</span>
        <a *ngIf="userProfile.siteWeb" [href]="userProfile.siteWeb" target="_blank">{{userProfile.siteWeb}}</a>
    </div>
</section>
<mat-divider></mat-divider>
<!-- <img src="../../../../../../assets/images/no-image.png" /> -->