<section class="container-me">
    <div class="container-me__photo">
        <img mat-card-avatar src="https://instagram.flim18-3.fna.fbcdn.net/v/t51.2885-19/s150x150/117369698_3552562768100866_2004892092892877588_n.jpg?_nc_ht=instagram.flim18-3.fna.fbcdn.net&_nc_ohc=W224vetBA1AAX_by5R9&oh=64e47851bdc7c71152490f042700bea2&oe=5F8AB455"
            alt="image profile">
    </div>
    <div class="container-me__header">
        <h2 class="container-me__header__username mr_10">juanfalcon_23s</h2>
        <button mat-stroked-button class="container-me__header__edit mr_10">Editar Perfil</button>
        <button mat-button class="container-me__header__settings">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div class="container-me__data">
        <span> <strong>5</strong> publicaciones</span>
        <span><strong>8</strong> seguidores</span>
        <span><strong>25</strong> seguidos</span>
    </div>
    <div class="container-me__details">
        <h1>Juan Falcón | Angular Lover</h1>
        <span>Angular - React</span>
        <a href="">juanfalcon.vercel.app</a>
    </div>
</section>
<mat-divider></mat-divider>