<section class="container-me">
    <div class="container-me__photo">
        <img mat-card-avatar [src]="user.avatar || 'assets/images/no-image.png'" alt="image profile">
    </div>
    <div [ngClass]="{'container-me__header':user?.id===userProfile?.id,'container-me__header__not':user?.id!==userProfile?.id}">
        <h2 class="container-me__header__username mr_10">{{user.username}}</h2>
        <button mat-stroked-button class="container-me__header__edit mr_10" *ngIf="user?.id===userProfile?.id">Editar
            Perfil</button>
        <button mat-button class="container-me__header__settings" *ngIf="user?.id===userProfile?.id" (click)="openDialog()">
            <mat-icon>settings</mat-icon>
        </button>
        <div *ngIf="user?.id!==userProfile?.id">
            <button mat-stroked-button class="container-me__header__follow mr_10" (click)="follow()" color="primary">Seguir</button>
            <button mat-stroked-button class="container-me__header__unfollow" (click)="unFollow()" color="warn">Dejar
                de seguir</button>
        </div>
    </div>
    <div class="container-me__data">
        <span> <strong>5</strong> publicaciones</span>
        <span><strong>8</strong> seguidores</span>
        <span><strong>25</strong> seguidos</span>
    </div>
    <div class="container-me__details">
        <h1>{{user.name}}</h1>
        <span>{{user.description}}</span>
        <a *ngIf="user.siteWeb" [href]="user.siteWeb" target="_blank">{{user.siteWeb}}</a>
    </div>
</section>
<mat-divider></mat-divider>