.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    div:nth-child(1) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__options {
        display: flex;
        align-content: center;
        &__button {
            background-color: white;
            color: black;
            &:first-of-type {
                margin-right: 10px;
            }
            &:nth-child(2) {
                margin-right: 10px;
            }
        }
    }
    &__button {
        &:first-of-type {
            margin-right: 10px;
        }
    }
}

$mat-card-header-size: 36px !default;
.mat-card-avatar {
    height: $mat-card-header-size;
    width: $mat-card-header-size;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

@media (max-width:700px) {
    .toolbar-container {
        div:nth-child(3) {
            position: fixed;
            bottom: 10px;
            right: 0;
            flex-direction: column;
        }
        &__options {
            &__button {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width:550px) {
    .toolbar-container {
        div:nth-child(3) {
            bottom: 50px;
        }
        div:nth-child(2) {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 56px;
            background-color: #FAFAFA;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }
    }
}